In [3]:
import pandas as pd

In [12]:
df = pd.read_csv("hcps-by-region-and-type-2019-2020.csv")

In [13]:
df

                                         Service     2019     2020     2021
0                          Inpatients Admissions    27768    24775    25104
1                       Outpatient Total Visits    517785   328038   428259
2                         Outpatients New visits   138917    75715    11352
3                          Medical Imaging Cases   215349   194831   235507
4                    Total Medications Dispensed  6180407  6859789  3063275
5  Total Number of Patient Accepted at Referral     72333    51364    92542
6                        Home Health Care Visits    30285    36806    53354

In [14]:
print(df.dtypes)

Service    object
2019        int64
2020        int64
2021        int64
dtype: object

In [20]:
df["2020"]= df["2020"] .astype(float)

In [21]:
df

                                         Service     2019       2020     2021
0                          Inpatients Admissions    27768    24775.0    25104
1                       Outpatient Total Visits    517785   328038.0   428259
2                         Outpatients New visits   138917    75715.0    11352
3                          Medical Imaging Cases   215349   194831.0   235507
4                    Total Medications Dispensed  6180407  6859789.0  3063275
5  Total Number of Patient Accepted at Referral     72333    51364.0    92542
6                        Home Health Care Visits    30285    36806.0    53354

In [22]:
df.dtypes

Service     object
2019         int64
2020       float64
2021         int64
dtype: object